
.content{
    flex: 1 0 auto;
    height: 100%;
    background-color: #CFDDFF;
}
.content__empty{
    height: 100px;
    width: 1200px;
    background-color: white;
    margin: 0 auto;
}
.content__wrapper{
    width: 1200px;
    color: #000;
    background-color: white;
    margin: 0 auto;
    text-align: center;
}
.wrapper__m-title{
    font-size: 40px;
    padding-bottom: 20px;
}
.wrapper__title-pp{
    font-size: 30px;
}
.content__wrapper ul{
    line-height: 1.4;
    margin: 0 auto;
    width: 900px;
}
.wrapper__m-text {
    margin-left: 0;
}
