.content{
    flex: 1 0 auto;
    background-color: #CFDDFF;
}
.content__wrapper{
    width: 1200px;
    color: #131338;
    background-color: white;
    margin: 0 auto;
}
.content-empty{
    height: 130px;
    border-bottom: 3px solid #8690A9;
}
.content-category{
    border-bottom: 3px solid #8690A9;
    color: #354495;
    font-weight: 900;
    font-size: 40px;
    display: flex;
    align-items: center;
    padding: 20px 0;
}
.content-category a{
    padding-left: 20px;
}
.category-title{
    margin: 0 auto;
}
.content-info{
    padding: 30px 0;
    text-align: center;
    line-height: 1.4;
    margin: 0 auto;
    width: 1000px;
}
.content-svg {
    border-top: 3px solid #8690A9;
    text-align: center;
    padding: 30px 0;
}
.content-start-quizzes {
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    color: #464b79;
}
.content-quizzes {
    width: 1000px;
    padding: 40px 0;
    margin: 0 auto;
}
.level__number {
    font-size: 28px;
    color: #47445A;
    line-height: 1.7;
    transition-duration: 0.6s;
}
.level__number:hover{
    text-shadow: 0px 2px 34px #0028B7;
    color: #7B75A4;
}
.content__comments{
    margin: 0 auto;
    text-align: center;
}
.button-my {
    background-color: #6950ce;
    border-radius: 30px;
    padding: 15px;
    color: white;
    font-weight: 200;
    transition-duration: 0.6s;
}
.button-my:hover {
    background-color: #443096;
}
.content__com-title {
    font-size: 30px;
}
.comments__com-text {
    border: 2px solid #b1b1ba;
    padding: 20px;
    border-radius: 16px;
}