html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
::-ms-clear{display: none;}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
ol li{list-style: none;}
input, select {
    vertical-align:middle;
}

/* FONT STYLE STARTS*/

body {
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    background-color: #BBDAF8;
}

.full{
    width: 100%;
}
.wrapper{
    position: relative;
    width: 1728px;
    height: 1117px;
    margin: auto;
    background-color: #BBDAF8;
}
.login_box{
    position: absolute;
    top: 120px;
    left: 600px;
    width: 570px;
    height: 688px;
    border-radius: 20px;
    background-color: white;
}
.login_box:hover{
    box-shadow: 0px 0px 20px rgba(13, 7, 74, 0.25);
    transition-duration: 0.5s;
}
.login_header{
    text-align: center;
    color: white;
    height: 70px;
    top: 0px;
    background: #1E1F29;
    border-radius: 9px 9px 0px 0px;
}
.header{
    font-size: 40px;
    line-height: 60px;
}
.login_content{
    position: inherit;
    margin: 0 auto;
}
.nickname, .password, .submit{
    font-weight: 300;
    font-size: 25px;
    line-height: 45px;
    color: #979797;
    padding-left: 20px;
    margin-left: 65px;
    margin-top: 50px;
    width: 400px;
    height: 54px;
    border: 2px solid rgba(139, 133, 160, 0.2);
    border-radius: 9px;
}
.password{
    margin-top: 20px;
}
.submit{
    margin-top: 20px;
    color: white;
    border: none;
    width: 426px;
    height: 55px;
    background: #515DD7;
    border-radius: 9px;
}
.submit:hover{
    background: #2F39AC;
    transition-duration: 0.3s;
}
.sign_up{
    font-size: 24px;
    position: absolute;
    text-align: center;
    bottom: 43px;
    left: 150px;
    color: #776E6E;
}
.sign_up_link{
    color: #515DD7;
}
.sign_up_link:checked{
    color: #515DD7;
}
