.content{
    flex: 1 0 auto;
}
.content_main-pic{
    position: relative;
    width: 1728px;
    margin: 0 auto;
}
.content_quiz-entry{
    position: absolute;
    width: 600px;
    right: 150px;
    top: 260px;
    padding: 40px;
    text-align: center;
    font-size: 30px;
    color: #cfd2d5;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 30px;
}
.quiz-entry__title h1{
    font-size: 40px;
}
.quiz-entry__text{
    position: relative;
    margin: 20px;
    line-height: 1.4;
}
.quiz-entry__link{
    position: absolute;
    padding: 10px 0;
    border-radius: 30px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 20px;
    text-align: center;
    background-color: #0BA1EE;
    transition-duration: 0.6s;
}
.quiz-entry__link a{
    font-weight: bold;
    font-size: 34px;
}
.quiz-entry__link:hover{
    box-shadow: 0px 0px 20px #0BA1EE;
}

.main-pic__wrapper{
    width: inherit;
}
.main-pic__wrapper-wrap{
    width: inherit;
    position: relative;
    z-index: 2;
    padding: 40px 0;
    margin-top: -140px;
}
.main-pic__questions{
    margin: 0 auto;
    padding: 20px 60px;
    width: 700px;
    text-align: center;
    font-size: 35px;
    line-height: 1.7;
    background: #1E1F29;
    border-radius: 10px;
}

.content__answer{
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.answer__wrap{
    width: 1100px;
    padding: 40px;
    margin: 0 auto;
    background-color: #222544;
}
.content__quiz{
    margin-bottom: 40px;
    text-align: center;
}
.content__quiz-title{
    background-color: #0E4597;
    padding: 36px 0;
    font-size: 40px;
}
.quizzes__wrapper{
    width: 1200px;
    color: #222544;
    margin: 0 auto;
}
.quizzes-description{
    margin: 50px 0;
    line-height: 1.5;
    font-size: 30px;
}
.quizzes-row{
    width: inherit;
}
.quiz-row-odd{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 70px;
    margin-bottom: 80px;
}
.row_left, .row_right {
    width: 400px;
}
.row-title{
    background-color: #5F4CD7;
    padding: 20px 0;
    color: white;
    border-radius: 10px 10px 0 0;
    font-size: 28px;
}
.row-description{
    font-size: 27px;
    height: 170px;
    background: linear-gradient(179.55deg, #40475B 0.39%, rgba(64, 71, 91, 0) 79.52%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.row-link{
    background-color: #FD4285;
    padding: 15px 20px;
    font-size: 25px;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition-duration: 0.5s;
}
.row-link:hover{
    box-shadow: 0px 0px 20px 8px rgba(253, 66, 133, 0.25);
}




.odd{
    position: relative;
    color: white;
    width: 500px;
    margin-bottom: 70px;
    text-align: center;
}
.answer_row{
    position: relative;
}
.even{
    position: relative;
    color: white;
    width: 500px;
    text-align: center;
}
.even_wrap{
    position: absolute;
    top: -511px;
    right: -600px;
}
.answer_description{
    position: absolute;
    top: 80px;
    left: 40px;
    width: 420px;
    font-size: 26px;
    font-weight: 500;
    line-height: 1.5;
}
.answer_title{
    text-align: center;
    font-size: 27px;
    font-weight: 500;
}
.p{
    position: absolute;
    top: -20px;
	background-color: #1E1F29;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    border-radius: 25px;
	padding: 15px 20px;
	width: 460px;
}