<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@400;700&display=swap');
    </style>
    <link rel="stylesheet" href="{% static 'css/base_styles.css' %}">
    <link rel="stylesheet" href="{% block styles %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="fullsite">
        <div class="header">
            <div class="header_wrapper">
                <div class="header_wrapper_wrap">
                    <div class="wrapper_logo">
                        <a href="/" class="logo-link">
                            <img src="/media/svg/logo.svg" alt="loggo" class="link">
                        </a>
                    </div>
                    <nav class="categories">
                        <ul class="content__list">
                            <li class="header_item">
                                <a href="{% url 'home' %}" class="item_link">Home</a>
                            </li>
                            <li class="header_item">
                                <a href="/#catalog" class="item_link">Catalog</a>
                            </li>
                            <li class="header_item">
                                <a href="{% url 'materials' %}" class="item_link">Materials</a>
                            </li>
                            <li class="header_item">
                                <a href="{% url 'about_us' %}" class="item_link">About us</a>
                            </li>
                            <li class="header_item">
                                {% if user.is_authenticated %}
                                    <a href="{% url 'logout' %}" class="item_link signin_bottom">Log Out</a>
                                {% else %}
                                    <a href="{% url 'login' %}" class="item_link signin_bottom">Log In</a>
                                    |
                                    <a href="{% url 'signup' %}" class="item_link signin_bottom">Sign Up</a>
                                {% endif %}
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        {% block content %}{% endblock %}

        <div class="footer">
            <div class="footer_wrapper">
                <div class="footer_wrapper_wrap">
                    <div class="footer__term">
                        <p class="footer_title">FAQ</p>
                        <ul class="footer_list">
                            <a href="{% url 'privacy' %}" class="item_link">
                                <li>
                                    <img src="/media/svg/round.svg" alt="" class="footer_svg">
                                    <p class="footer_terms">Privacy Policy</p>
                                </li>
                            </a>
                            <a href="{% url 't_service' %}" class="item_link">
                                <li>
                                    <img src="/media/svg/round.svg" alt="" class="footer_svg">
                                    <p class="footer_terms">Terms of service</p>
                                </li>
                            </a>
                        </ul>
                    </div>
                    <div class="footer__term">
                        <p class="footer_title">Contact us</p>
                        <ul class="footer_list">
                            {% for i in footer_info %}
                            <li>
                                <img src="/media/svg/round.svg" alt="" class="footer_svg">
                                <p class="footer_terms">{{ i.name }} : {{ i.info }}</p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>AOS.init();</script>
</body>
</html>
