{% extends 'base.html' %}
{% load static %}

{% block title %}
Quizland
{% endblock %}

{% block styles %}
{% static 'css/st.css' %}
{% endblock %}

{% block content %}
        <div class="content">
            <div class="content_main-pic">
                <div class="main-pic__wrapper">
                    <img src="media/img/mainpic.jpg" alt="Thinking kid" width="1728">
                    <div class="main-pic__wrapper-wrap">
                        <div class="main-pic__questions">
                            <hr class="main-pic__hr">
                                <ul class="main-pic__list">
                                    {% for question in answers %}
                                    <li class="main-pic__element">{{ question.question }}</li>
                                    {% endfor %}
                                </ul>
                            <hr class="main-pic__hr">
                        </div>
                    </div>
                </div>
                <div class="content_quiz-entry">
                    {% for info in main_page %}
                    <div class="quiz-entry__title"><h1>{{ info.title }}</h1></div>
                    <div class="quiz-entry__text">
                        {{ info.description }}
                        <div class="quiz-entry__link">
                            <a href="#catalog" class="link__link">{{ info.button }}</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="content__answer">
                <div class="answer__wrap">
                    <div class="answer_row">
                        {% for answer in answers %}
                        {% if not forloop.counter|divisibleby:2 %}
                        <div class="odd">
                            <div class="answer_title">
                                <p class="p">{{ answer.question }}</p>
                            </div>
                            <img src="{{ answer.image.url }}" alt="" class="q_img" width="500px">
                            <div class="answer_description">
                                {{ answer.answer }}
                            </div>
                        </div>
                        {% else %}
                        <div class="even">
                            <div class="even_wrap">
                                <div class="answer_title">
                                    <p class="p">{{ answer.question }}</p>
                                </div>
                                <img src="{{ answer.image.url }}" alt="" class="q_img" width="500px">
                                <div class="answer_description">
                                    {{ answer.answer }}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <br><br>
            <div class="content__quiz" id="catalog">
                {% for i in intro %}
                <div class="content__quiz-title">
                    {{ i.title }}
                </div>
                <div class="quizzes__wrapper">
                    <div class="quizzes-description">
                        {{ i.description }}
                    </div>
                    {% for quiz in quiz_items %}
                    {% if forloop.counter|divisibleby:2 %}
                    <div class="quiz-row-odd" data-aos="fade-left">
                        <div class="row_left">
                            <a href="{% url 'subjects' quiz.id %}">
                                <div class="row-title">{{ quiz.category_name }}</div>
                                <img src="{{ quiz.image.url }}" alt="" width="400">
                            </a>
                        </div>
                        <div class="row_right">
                            <div class="row-description">
                                {{ quiz.description }}
                            </div>
                            <div class="row-link">
                                <a href="{% url 'subjects' quiz.id %}">Choose the level and pass</a>
                                <img src="media/svg/arrow_2.svg" alt="" width="30">
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="quiz-row-odd" data-aos="fade-right">
                        <div class="row_right">
                            <div class="row-description">
                                {{ quiz.description }}
                            </div>
                            <div class="row-link">
                                <a href="{% url 'subjects' quiz.id %}">Choose the level and pass</a>
                                <img src="media/svg/arrow_2.svg" alt="" width="30">
                            </div>
                        </div>
                        <div class="row_left">
                            <a href="{% url 'subjects' quiz.id %}">
                                <div class="row-title">{{ quiz.category_name }}</div>
                                <img src="{{ quiz.image.url }}" alt="" width="400">
                            </a>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}{% endfor %}
                </div>
            </div>
        </div>

{% endblock %}