{% extends 'base.html' %}
{% load static %}

{% block title %}
Science
{% endblock %}

{% block styles %}
{% static 'css/style_math.css' %}
{% endblock %}

{% block content %}
    <div class="content">
        <div class="content_empty"></div>
        <div class="content_theme">
            <div class="content_item">
                <div class="item_icon">
                    <a href="/" class="icon_link">
                        <img src="/media/svg/math_arrow.svg" alt="return back">
                    </a>
                </div>
                <div class="item_math">Languages</div>
            </div>    
        </div>
        <div class="content_descrip">
            <div class="content_descrip-block">
                There are many, many reasons why learning a new 
                language is a good idea. It allows you to communicate 
                with new people. It helps you to see things from a 
                different perspective, or get a deeper understanding 
                of another culture. It helps you to become a better 
                listener. It even has health benefits, as studies have 
                shown that people who speak two or more languages have 
                more active minds later in life!<br>
                Those are all reasons to learn any language – but 
                did you know that there are 6,500 languages still 
                spoken in the world today? With such an enormous number 
                to choose from, why pick English?
            </div>
        </div>
        <div class="content_coolsvg">
            <div class="coolsvg_polosa">
                <img src="/media/svg/polosa_languages.svg" alt="Polosa" class="polosa">
                <div class="coolsvg_polosa-text"><div class="teeext">Quizzes</div></div>
            </div>
            <div class="coolsvg_last">
                Choose one and pass! <br>
                Good luck!</div>
        </div>

        <div class="content_quizzes">
            <ul>
                <li class="quizzes_levels">Grammar quizzes
                    <div class="levels">
                        <ul>
                            <li><a href="" class="quiz_hover">Past simple</a></li>
                            <li><a href="" class="quiz_hover">Past Continious</a></li>
                            <li><a href="" class="quiz_hover">Past Perfect</a></li> 
                        </ul>
                    </div>
                </li>
                <li class="quizzes_levels">Vocabulary tests
                    <div class="levels">
                        <ul>
                            <li><a href="" class="quiz_hover">Pre-Intermediate Vocabulary test</a></li>
                            <li><a href="" class="quiz_hover">Intermediate</a></li>
                            <li><a href="" class="quiz_hover">Every day vocabulary test</a></li> 
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
{% endblock %}