{% extends 'base.html' %}
{% load static %}

{% block title%}
Materials
{% endblock %}

{% block styles %}
{% static 'css/materials.css' %}
{% endblock %}

{% block content %}
    <div class="content">
        <div class="content_wrapper">
            <div class="content_empty"></div>
            <div class="content_entry">
                <div class="content_entry-title"><h2>Materials & Resources</h2></div>
                <br>
                <br>
            </div>
            <div class="topic_wrapper">
                <div class="topic_title">Mathematics</div>
                <div class="list__wrapper">
                    <ul class="list_topics">
                        {% for i in subjects %}
                            <li class="topic">
                                <a href="{{ i.url }}" class="topic_link">
                                    <img src="{{ i.image.url }}" alt="">
                                    <div class="title__topic"><p>{{ i.topic }}</p></div>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="topic_wrapper">
                <div class="topic_title lit_material">Literature</div>
                <div class="list__wrapper lit_mat">
                    <ul class="list_topics">
                        {% for i in literature %}
                            <li class="topic">
                                <a href="{{ i.url }}" class="topic_link">
                                    <img src="{{ i.image.url }}" alt="">
                                    <div class="title__topic lit_material"><p>{{ i.topic }}</p></div>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="topic_wrapper">
                <div class="topic_title lan_material">Language</div>
                <div class="list__wrapper lan_mat">
                    <ul class="list_topics">
                        {% for i in languages %}
                            <li class="topic">
                                <a href="{{ i.url }}" class="topic_link">
                                    <img src="{{ i.image.url }}" alt="">
                                    <div class="title__topic lan_material"><p>{{ i.topic }}</p></div>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}