{% extends 'base.html' %}
{% load static %}

{% block title%}
{{ quiz_items.category_name }}
{% endblock %}

{% block styles %}
{% static 'css/quizzes_styles.css' %}
{% endblock %}

{% block content %}
        <div class="content">
            <div class="content__wrapper">
                <div class="content-empty"></div>
                <div class="content-category">
                    <a href="/">
                        <img src="/media/svg/arrow.svg" alt="">
                    </a>
                    <div class="category-title">{{ quiz_items.category_name }}</div>
                </div>
                <div class="content-info">{{ quiz_items.description }}</div>
                <div class="content-svg">
                    <img src="{{ quiz_items.an_svg.url }}" alt="poloska">
                    <br><br>
                    <div class="content-start-quizzes">
                        Choose one and pass!
                        <br>
                        Good luck!
                    </div>
                </div>
                <div class="content-quizzes">
                    <ul class="quiz_level">
                        <a href="{{ quiz_items.quiz_1 }}" class="">
                            <li class="level__number">
                                <img src="/media/svg/round_quiz.svg" alt="" width="15">
                                Easy
                            </li>
                        </a>
                        <a href="{{ quiz_items.quiz_2 }}" class="">
                            <li class="level__number">
                                <img src="/media/svg/round_quiz.svg" alt="" width="15">
                                Middle
                            </li>
                        </a>
                        <a href="{{ quiz_items.quiz_2 }}" class="">
                            <li class="level__number">
                                <img src="/media/svg/round_quiz.svg" alt="" width="15">
                                Hard
                            </li>
                        </a>
                    </ul>
                </div>
                <div class="content-empty"></div>
                <div class="content__comments">
                    <hr>
                    <p class="content__com-title">Comments</p>
                    <hr>
                    <form action="" id="add_form" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <br><br>
                        <button form="add_form" type="submit" class="btn btn-success">
                            <p class="button-my">Add comment</p>
                        </button>
                    </form>
                    {% for i in comment  %}
                        <h2>{{ i.comment_text }}</h2>
                    {% endfor %}
                    <hr>
                    <p>All comments ({{ quiz_items.comments_quiz_category.all.count }})</p>
                    <hr><br><br>
                    <ul>
                        {% for i in quiz_items.comments_quiz_category.all %}
                        <li>
                           <p class="comment_author">
                               <img src="/media/svg/round_quiz.svg" alt="" width="8">
                               {{ i.author_login }}
                               <img src="/media/svg/round_quiz.svg" alt="" width="8">
                               {{ i.creation_date }}
                               <img src="/media/svg/round_quiz.svg" alt="" width="8">
                           </p>
                            <br><br>
                            {{ i.comment_text }}<br>
                            <br>
                        </li>
                        <hr>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
{% endblock %}
