{% extends 'base.html' %}
{% load static %}

{% block title%}
{{ quiz_items.category_name }}
{% endblock %}

{% block styles %}
{% static 'css/quizzes_styles.css' %}
{% endblock %}

{% block content_1 %}
    <br>
    <br>
    <br>
    <div class="content">
        <div class="full_quiz_site">
            <div class="empty_container"></div>
            <div class="quiz_category">
                <a href="/" class="back_icon_link">
                    <img src="/media/svg/arrow.svg" alt="back to main" class="back_link">
                </a>
                <h2 class="category_name">{{ quiz_items.category_name }}</h2>
            </div>
            <div class="quiz_description">
                <div class="text_description">
                    {{ quiz_items.description }}
                </div>
            </div>
            <div class="quiz_entry">
                <div class="quiz_entry_wrapper">
                    <img src="{{ quiz_items.an_svg.url }}" alt="poloska">
                    <div class="quiz_luck">
                        Choose one and pass!
                        Good luck!
                    </div>
                </div>
            </div>
            <div class="quizzes_block">
                <ul class="topic">
                    <li class="pre_topics"><p>Grade 1</p>
                        <ul class="levels">
                            <li><a href="#" class="level_link">easy</a></li>
                            <li><a href="#" class="level_link">hard</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <p>Comments</p>
        <hr>

        <form action="" id="add_form" method="post">
            {% csrf_token %}
                {{ form }}
            <button form="add_form" type="submit" class="btn btn-success">Add comment!</button>
        </form>
        {% for i in comment  %}
            <h2>{{ i.comment_text }}</h2>
        {% endfor %}
        <p>Comments ({{ quiz_items.comments_quiz_category.all.count }})</p>
        <hr><br><br>
        <ul>
            {% for i in quiz_items.comments_quiz_category.all %}
            <li>
               <p>Date od publication: {{ i.creation_date }}</p><br> <br>
                {{ i.comment_text }}
                {{ i.author }}
            </li>
            <hr>
            {% endfor %}
        </ul>
    </div>
{% endblock %}g
