{% extends 'base.html' %}
{% load static %}

{% block title %}
Science
{% endblock %}

{% block styles %}
{% static 'css/style_math.css' %}
{% endblock %}

{% block content %}
    <div class="content">
        <div class="content_empty"></div>
        <div class="content_theme">
            <div class="content_item">
                <div class="item_icon">
                    <a href="/" class="icon_link">
                        <img src="/media/svg/math_arrow.svg" alt="return back">
                    </a>
                </div>
                <div class="item_math">Scince and Technology </div>
            </div>    
        </div>
        <div class="content_descrip">
            <div class="content_descrip-block">
                Sceince and technology is what we cannot 
                imagine our life nowadays. Throughout the 
                history inventors’ ideas have changed the way we 
                live, making it easier and more enjoyable. The 
                twenty-first century is no exception as it is noted 
                for the invention of the television, computers, 
                spacecraft, genetic engineering and many others. 
                Pass quizzes about famous inventors and their inventions 
                and remember their names. Before passing you should 
                make sure that you know the words — Science.
            </div>
        </div>
        <div class="content_coolsvg">
            <div class="coolsvg_polosa">
                <img src="/media/svg/polosa_scince.svg" alt="Polosa" class="polosa">
                <div class="coolsvg_polosa-text"><div class="teeext">Quizzes</div></div>
            </div>
            <div class="coolsvg_last">
                Choose one and pass! <br>
                Good luck!</div>
        </div>

        <div class="content_quizzes">
            <ul>
                <li class="quizzes_levels">Scince and Technology quizzes
                    <div class="levels">
                        <ul>
                            <li><a href="" class="quiz_hover">Science And Technology Of Engineering</a></li>
                            <li><a href="" class="quiz_hover">Science And Technology Challenge 4</a></li>
                            <li><a href="" class="quiz_hover">Ancient Greek Science And Technology</a></li> 
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
{% endblock %}


































</body>
</html>